<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Kiddies Quizzes</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Flavors">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>To reset your account and redeem your points, please provide your name and select your two digital guardians below.</p>
        <form action="/forgot_password" method="POST">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <p>Select Your Digital Guardians:</p>
            <div class="guardians">
                <!-- Guardians will be dynamically added here -->
            </div>
            <input type="hidden" id="guardians" name="guardians" value="">
            
            <button id="nextBtn" type="submit">Next</button>
        </form>
    </div>
    <script src="/js/script_four.js"></script>
</body>
</html>
